h1{
    color: Teal;
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
}

h3{
    color: Green;
    text-shadow: .9px 1.5px;
}

h2{
    color: Green;
    font-style: italic;
}

p{
    text-align: center;
    color: FireBrick;
}

body{
    background: Wheat;
    border: 1em groove;
}


div{
    color: DarkMagenta;
}

.extreme{
    opacity: 0.4;
}

#head1{
    text-shadow: 3px 1.5px;
    text-decoration: overline;
}

.navzone{
    color: Yellow;
}

#tehlulz{
    color: Blue;
}

.content{
    font-family: "Times New Roman", Times, serif;
    opacity: 0.3;
}

.prose{
    text-decoration: line-through; 
}

