h1{
    color: Teal;
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
}

h3{
    color: Green;
    text-shadow: .9px 1.5px;
}

h2{
    color: Green;
    font-style: italic;
}

p{
    text-align: center;
    color: FireBrick;
}

body{
    background: Wheat;
    border: 1em groove;
}


div{
    color: Blue;
}

.extreme{
    text-style: italic;
}

#head1{
    text-decoration: overline;
}